@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Sans';
  }

.grid.container {
  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-template-areas: 
    'logo logo logo nav nav nav'
    'slide slide slide slide slide slide'
    'gap gap gap gap gap gap'
    'content content content content content content'
    'footer footer footer footer footer footer';
  gap: 10px;
}

/* Navigation Bar */
.navbar {
  width: 100%;
  min-height: 60px;
  padding: 20px ;
  background-color: #07589b;
  text-align: center;
  font-size: 0 30px;
  grid-area: nav;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  z-index: 99;
}

.logo{
  display: grid;
  grid-area: logo;
  width: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navigation{
  display: flex;
  grid-area: nav;
  background-size: cover;
  width: 70%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.navigation a {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #07589b;
  display: flex;
  column-gap: 40px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.7s;
  transition-property: color, background;
  width: 150px;
}

.navigation a:hover{
  color: rgb(179, 204, 250);
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-item a {
    color: rgb(255, 255, 255);
    width: auto;
  }
  
.nav-item.active a {
    color: #07589b;
    width: auto;
    background-color: #fff;
  }
  
li {
  text-decoration: none;
  list-style: none;
}

.navlink {
  display: flex;
  column-gap: 40px;
  text-align: center;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* MEDIA QUERIES */
@media (max-width: 750px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    row-gap: 18px;
  }

  .navlink {
    font-size: 12px;
  }

    .navigation {
        width: 85%;
    }

}

@media (max-width: 375px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    row-gap: 18px;
  }

  .navlink {
    font-size: 11,5px;
      column-gap: 20px;
  }

    .navigation {
        width: 95%;
    }
    
}

/*content*/
.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainImg {
  color: black;
  width: 40%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 50px;
  margin-right: 100px;
}

.allText {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
  width: 40%;
  margin: 0 0 0 0;
}

.explore {
  font-size: 20px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  background-color: rgb(244, 152, 146);
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: rgb(244, 152, 146);
  border-right-color: rgb(244, 152, 146);
  border-bottom-color: rgb(244, 152, 146);
  border-left-color: rgb(244, 152, 146);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: pointer;
}

.explore:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;

  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 235, 234);
  color: rgb(244, 152, 146);
}

.responsive-container-block.Container {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  flex-direction: row-reverse;
  margin: 100px auto 50px auto;
}

.allText.aboveText {
  margin: 0 0 0 40px;
}

.allText.bottomText {
  margin: 0 40px 0 0;
}

.group {
  padding: 10px;
  width: 100%;
  display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    place-items: center;
    align-content: center;
}

.group p {
  text-align: left;
  font-size: 20px;
  color: black;
}

.ye {
  background-color: #f30000ef;
  color: #07589b;
  padding: 15px 25px;
  text-decoration: none;
}

.adjust {
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .group p {
    font-size: 12px;
  }

  .mainImg {
    margin-right: 50px;
  }
}

@media screen and (max-width: 400px) {
  .group p {
    font-size: 0px;
  }

  .mainImg {
    margin-right: 50px;
  }
}

.responsive-container-block.Container.socialIcons{
  display: flex;
  justify-content: left;
}
.responsive-container-block.Container.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.responsive-container-block.bigContainer.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.responsive-container-block.Container .socialIcons a:hover{
  background-color: #ffffff;
  transition: 0.5s;
}
.responsive-container-block.Container .socialIcons a:hover i{
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 850px;
  }

  .mainImg {
    width: 55%;
    height: auto;
  }

  .text-blk.description {
    font-size: 20px;
  }

  .allText {
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .text-blk.subHeadingText {
    font-size: 22px;
  }

  .responsive-container-block.Container.bottomContainer {
    margin: 80px auto 50px auto;
  }

  .responsive-container-block.Container {
    max-width: 830px;
  }

  .allText.aboveText {
    margin: 30px 0 0 40px;
  }

  .allText.bottomText {
    margin: 30px 40px 0 0;
  }
}

@media (max-width: 768px) {
  .mainImg {
    width: 90%;
  }

  .allText {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .text-blk.subHeadingText {
    text-align: center;
    font-size: 25px;
  }

  .text-blk.description {
    text-align: center;
    font-size: 25px;
  }

  .allText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.aboveText {
    margin: 40px 0 0 0;
  }

  .responsive-container-block.Container {
    margin: 80px auto 50px auto;
  }

  .responsive-container-block.Container.bottomContainer {
    margin: 50px auto 50px auto;
  }

  .allText.bottomText {
    margin: 40px 0 0 0;
  }
  .socialIcons a{
    padding: 8px;
    margin: 4px;
}
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .mainImg {
    width: 70%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }

  .text-blk.subHeadingText {
    font-size: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .text-blk.description {
    font-size: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
  }

  .socialIcons a{
    padding: 8px;
    margin: 4px;
}
}


/* Footer */
footer{
  background-color: #111;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
  grid-area: footer;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav li{
  text-align: center;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerNav p {
  color: white;
  text-align: center;
}
.footerBottom{
  background-color: #07589b;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}

/* ANIMATION ON SCROLL */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.scrollTop {
  position: fixed;
  display: flex;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  place-items: center;
  align-content: center;
  text-decoration: none;
  color: #b2daf0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.333);
  box-shadow: 0 5 10px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease 0s;
}

.scrollTop.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.scrollTop.active:hover {
  color: #ffffff;
}
